In [199]:
import warnings
import requests
from bs4 import BeautifulSoup 
from openpyxl import Workbook
import re
warnings.filterwarnings('ignore')

# Ações:

In [217]:
headers = {'User-Agent': "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36"}
url = 'https://www.fundamentus.com.br/resultado.php'
r = requests.get(url, headers=headers)
soup = BeautifulSoup(r.content, 'html.parser') # Irá transformar em um objeto p/ lermos o HTML.

In [218]:
df = pd.read_html(r.text, decimal = ',', thousands= '.')[0] #Isso é uma lista, e não o dataframe. Para puxar a 1 tabela, [0]

In [219]:
df

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
0,POPR4,10.17,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"8,66%","5,65%",1.08,"15,25%","19,93%",0.0,5.458030e+08,0.82,"30,93%"
1,CLAN3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","-1,05%",0.0,1.012240e+09,0.00,"-63,96%"
2,CSTB3,150.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"40,85%","28,98%",2.60,"22,40%","20,11%",0.0,8.420670e+09,0.14,"31,91%"
3,PMET3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","4,10%",0.0,-2.908630e+08,0.00,"37,74%"
4,MNSA3,0.42,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"-208,15%","-362,66%",3.63,"-13,50%","145,70%",0.0,-9.105000e+06,-6.52,"-41,11%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,UBBR4,7.49,610.27,1.99,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","0,33%",0.0,1.031720e+10,0.00,"10,58%"
982,TRAD3,4.47,1048.26,2.05,13.744,"0,00%",1.947,3.96,-43.61,4.02,...,-46.65,"-31,52%","1,31%",11.99,"-8,80%","0,20%",10845900.0,6.132110e+08,0.01,"0,00%"
983,UBBR11,14.75,1201.81,3.91,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","0,33%",0.0,1.031720e+10,0.00,"10,58%"
984,UBBR3,18.00,1466.61,4.77,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","0,33%",0.0,1.031720e+10,0.00,"10,58%"
985,BBTG12,3.15,53197.20,24180.60,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","45,45%",0.0,1.100000e+04,0.00,"0,00%"

In [220]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
    df[coluna] = df[coluna].str.replace('.', '')
    df[coluna] = df[coluna].str.replace(',','.')
    df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100

In [221]:
df

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
0,POPR4,10.17,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.00,0.0866,0.0565,1.08,0.1525,0.1993,0.0,5.458030e+08,0.82,0.3093
1,CLAN3,0.00,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.00,0.0000,0.0000,0.00,0.0000,-0.0105,0.0,1.012240e+09,0.00,-0.6396
2,CSTB3,150.00,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.00,0.4085,0.2898,2.60,0.2240,0.2011,0.0,8.420670e+09,0.14,0.3191
3,PMET3,0.00,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.00,0.0000,0.0000,0.00,0.0000,0.0410,0.0,-2.908630e+08,0.00,0.3774
4,MNSA3,0.42,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.00,-2.0815,-3.6266,3.63,-0.1350,1.4570,0.0,-9.105000e+06,-6.52,-0.4111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,UBBR4,7.49,610.27,1.99,0.000,0.0,0.000,0.00,0.00,0.00,...,0.00,0.0000,0.0000,0.00,0.0000,0.0033,0.0,1.031720e+10,0.00,0.1058
982,TRAD3,4.47,1048.26,2.05,13.744,0.0,1.947,3.96,-43.61,4.02,...,-46.65,-0.3152,0.0131,11.99,-0.0880,0.0020,10845900.0,6.132110e+08,0.01,0.0000
983,UBBR11,14.75,1201.81,3.91,0.000,0.0,0.000,0.00,0.00,0.00,...,0.00,0.0000,0.0000,0.00,0.0000,0.0033,0.0,1.031720e+10,0.00,0.1058
984,UBBR3,18.00,1466.61,4.77,0.000,0.0,0.000,0.00,0.00,0.00,...,0.00,0.0000,0.0000,0.00,0.0000,0.0033,0.0,1.031720e+10,0.00,0.1058
985,BBTG12,3.15,53197.20,24180.60,0.000,0.0,0.000,0.00,0.00,0.00,...,0.00,0.0000,0.0000,0.00,0.0000,0.4545,0.0,1.100000e+04,0.00,0.0000

In [222]:
rank = pd.DataFrame()
lista1 = df['Papel']
lista2 = df['P/L']
lista3 = df['Div.Yield']
lista5 = df['ROIC']
lista6 = df['ROE']
lista7 = df['Liq.2meses']

rank['Papel'] = lista1 
rank['P/L'] = lista2 
rank['Div.Yield'] = lista3
rank['ROIC'] = lista5
rank['ROE'] = lista6
rank['Liq.2meses'] = lista7


rank

      Papel       P/L  Div.Yield    ROIC     ROE  Liq.2meses
0     POPR4      0.00        0.0  0.1525  0.1993         0.0
1     CLAN3      0.00        0.0  0.0000 -0.0105         0.0
2     CSTB3      0.00        0.0  0.2240  0.2011         0.0
3     PMET3      0.00        0.0  0.0000  0.0410         0.0
4     MNSA3      0.00        0.0 -0.1350  1.4570         0.0
..      ...       ...        ...     ...     ...         ...
981   UBBR4    610.27        0.0  0.0000  0.0033         0.0
982   TRAD3   1048.26        0.0 -0.0880  0.0020  10845900.0
983  UBBR11   1201.81        0.0  0.0000  0.0033         0.0
984   UBBR3   1466.61        0.0  0.0000  0.0033         0.0
985  BBTG12  53197.20        0.0  0.0000  0.4545         0.0

[986 rows x 6 columns]

In [238]:
sorted_rank = rank.sort_values(by=['Div.Yield'], ascending=False)

In [239]:
sorted_rank['Liq.2meses'] = sorted_rank['Liq.2meses'].replace(0.0, np.nan)

In [247]:
sorted_rank

     Papel   P/L  Div.Yield    ROIC     ROE   Liq.2meses
374  CEBR6  0.58     1.2578  0.1557  1.5084     580237.0
375  CEBR5  0.61     1.1032  0.1557  1.5084      60595.9
379  CEBR3  0.79     0.8430  0.1557  1.5084      85465.6
385  BRAP3  1.15     0.2937 -0.0038  1.0768    4748150.0
388  BRAP4  1.28     0.2907 -0.0038  1.0768  149127000.0
..     ...   ...        ...     ...     ...          ...
462  HBOR3  3.99     0.0000  0.0183  0.0757    2709890.0
233  LLIS3 -0.13     0.0000 -0.0783  1.5241     782698.0
237  MNDL3 -0.09     0.0000  0.0739  0.7909      74589.5
241  TEKA4 -0.05     0.0000  0.0103  0.0456      11099.6
292  MEGA3  0.00     0.0000  0.0000  0.0000   27399000.0

[472 rows x 6 columns]

In [248]:
# sorted_rank['Liq.2meses'] = sorted_rank['Liq.2meses'].dropna()

In [249]:
sorted_rank = sorted_rank[sorted_rank['Liq.2meses'].notna()]

In [255]:
sorted_rank

     Papel   P/L  Div.Yield    ROIC     ROE   Liq.2meses
374  CEBR6  0.58     1.2578  0.1557  1.5084     580237.0
375  CEBR5  0.61     1.1032  0.1557  1.5084      60595.9
379  CEBR3  0.79     0.8430  0.1557  1.5084      85465.6
385  BRAP3  1.15     0.2937 -0.0038  1.0768    4748150.0
388  BRAP4  1.28     0.2907 -0.0038  1.0768  149127000.0
..     ...   ...        ...     ...     ...          ...
462  HBOR3  3.99     0.0000  0.0183  0.0757    2709890.0
233  LLIS3 -0.13     0.0000 -0.0783  1.5241     782698.0
237  MNDL3 -0.09     0.0000  0.0739  0.7909      74589.5
241  TEKA4 -0.05     0.0000  0.0103  0.0456      11099.6
292  MEGA3  0.00     0.0000  0.0000  0.0000   27399000.0

[472 rows x 6 columns]

In [256]:
sorted_rank.to_excel('saved_file.xlsx', index = False)

# Ações pt. 2

In [259]:
import investpy

In [271]:
# About the company: 
acao = 'BBAS3'
c = 'brazil'
info_acao = investpy.stocks.get_stock_company_profile(stock=acao, country='brazil')
info_acao

{'url': 'https://www.investing.com/equities/brasil-on-company-profile',
 'desc': "Banco do Brasil SA is a Brazil-based financial institution (the Bank) primarily engaged in the banking sector. The Bank's activities are divided into five business segments: Banking, which offers deposits, loans and other banking services in the retail, corporate, wholesale and public sectors; Investments, which focuses on the structuring and distribution of debt and equity instruments in Brazilian primary and secondary capital markets; Fund management, which is mainly responsible for the purchase, sale and custody of securities, as well as portfolio management; Insurance, which provides products and services related to life, property and automobile insurance, private pension and capitalization plans, and Electronic payments, which includes services related to administration of credit and debit cards, such as capture, transmission, processing and financial settlement. The Bank operates through numerous subsidiaries in the domestic and international market."}

In [266]:
dividends = investpy.stocks.get_stock_dividends(stock=acao, country='brazil')
dividends

         Date  Dividend  Type Payment Date Yield
0  2022-03-14  0.210629  None         None  None
1  2022-03-02  0.362277  None         None  None
2  2022-03-02  0.462444  None         None  None
3  2021-12-13  0.174991  None         None  None
4  2021-11-22  0.393703  None         None  None
5  2021-09-13  0.184740  None         None  None
6  2021-08-23  0.348289  None         None  None
7  2021-06-13  0.168519  None         None  None
8  2021-05-23  0.340111  None         None  None
9  2021-05-23  0.074335  None         None  None
10 2021-03-11  0.145714  None         None  None
11 2021-02-22  0.435864  None         None  None
12 2020-12-13  0.116985  None         None  None
13 2020-11-16  0.194774  None         None  None

In [269]:
summary_acao = investpy.stocks.get_stock_financial_summary(stock=acao, country='brazil')
summary_acao

            Total Revenue  Net Income
Date
2021-12-31      173950.86    22246.24
2020-12-31      159640.59    14265.96
2019-12-31      173044.55    20643.93
2018-12-31      176583.30    14500.48

In [274]:
history = investpy.stocks.get_stock_historical_data(stock=acao, country='brazil', from_date='01/01/2015', to_date='10/05/2022')
history

             Open   High    Low  Close    Volume Currency
Date
2015-01-02  18.43  18.62  17.48  17.82   4537800      BRL
2015-01-05  17.76  17.86  17.23  17.45   5428300      BRL
2015-01-06  17.49  17.91  17.29  17.69   7231800      BRL
2015-01-07  18.05  18.94  17.89  18.47   4037000      BRL
2015-01-08  18.70  18.87  18.27  18.53   2988100      BRL
...           ...    ...    ...    ...       ...      ...
2022-05-04  33.54  34.78  33.20  34.64  13014300      BRL
2022-05-05  34.36  34.38  33.00  33.74  14101800      BRL
2022-05-06  33.71  34.62  33.35  33.85  13799800      BRL
2022-05-09  33.38  34.22  33.31  33.85   9082900      BRL
2022-05-10  34.20  34.26  33.31  33.56   7012000      BRL

[1818 rows x 6 columns]

In [275]:
info = investpy.stocks.get_stock_information(stock=acao, country='brazil')
info

,Stock Symbol,Prev. Close,Todays Range,Revenue,Open,52 wk Range,EPS,Volume,Market Cap,Dividend (Yield),Average Vol. (3m),P/E Ratio,Beta,1-Year Change,Shares Outstanding,Next Earnings Date
0,BBAS3,33.94,33.31-34.26,1.072100e+11,34.16,27.74-36.75,6.91,7007000.0,9.593000e+10,2.72(8.01%),14594773.0,4.91,1.28,13.06%,2.853399e+09,11/05/2022

In [278]:
recent_data = investpy.stocks.get_stock_recent_data(stock=acao, country='brazil')
recent_data

             Open   High    Low  Close    Volume Currency
Date
2022-04-11  34.65  35.24  34.40  35.07  10397300      BRL
2022-04-12  35.21  35.49  34.86  35.00  12391200      BRL
2022-04-13  35.41  35.45  34.90  35.17  12782100      BRL
2022-04-14  35.09  35.54  35.07  35.20  10619100      BRL
2022-04-18  35.19  36.50  35.12  36.50  22491400      BRL
2022-04-19  36.38  36.68  35.05  35.21  17824800      BRL
2022-04-20  35.24  35.27  34.81  35.16  11251400      BRL
2022-04-22  34.73  34.77  34.15  34.43  10851400      BRL
2022-04-25  34.25  34.95  33.97  34.70  11276900      BRL
2022-04-26  34.40  34.56  33.50  33.92  13915900      BRL
2022-04-27  34.35  34.80  33.90  34.07   9699800      BRL
2022-04-28  34.17  34.40  33.58  34.01   9895000      BRL
2022-04-29  34.20  34.68  33.10  33.22  16943100      BRL
2022-05-02  33.28  33.51  32.55  32.98  10669700      BRL
2022-05-03  33.00  33.93  33.00  33.66  12850300      BRL
2022-05-04  33.54  34.78  33.20  34.64  13014300      BRL
2022-05-05  34.36  34.38  33.00  33.74  14101800      BRL
2022-05-06  33.71  34.62  33.35  33.85  13799800      BRL
2022-05-09  33.38  34.22  33.31  33.85   9082900      BRL
2022-05-10  34.20  34.26  33.31  33.58   7066800      BRL